[Unit]
After=mc@%i.service
Description=Back up Minecraft Java Edition server world
Requisite=mc@%i.service

[Service]
ExecStart=/home/minecraft/MCbackup.sh /home/minecraft/%i %i /home/minecraft/backup_dir /tmp/tmux-mc/%i
KillMode=none
Type=oneshot
User=mc

[Install]
WantedBy=multi-user.target
