[Unit]
After=mcbe-getzip.service mcbe@%i.service mcbe-backup@%i.service
Description=Automatically update Minecraft Bedrock Edition server

[Service]
ExecStart=/home/minecraft/MCBEautoUpdate.sh /home/minecraft/%i mcbe@%i
KillMode=none
Type=oneshot

[Install]
# Start after mcbe-getzip.service
WantedBy=mcbe-getzip.service
